/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 = require _bootstrap
 *= require_tree .
 *= require_self
 */

/*Buttons*/

.button:hover{
	background: #93c9df;
}

.btn.btn-default{
	background: #df93c9;
	color: white;
}

/*Container*/

.well{
    background: #93c9df;
    color: white;
}

.container-fluid{
	background: #df93c9;
	font-color: white;
}

/*Font*/

.editquestion{
	color: white;
}

h1{
	color: #d5f29d;
	text-align: center;
}

/*Nav Bar*/

.navbar-default .navbar-brand {
    color: white;
}

/*Form*/

.form-control{
	background: #93c9df;	
}

/*Alert*/

.alert.alert-info{
	background: #d5f29d;
	color: black;
}
